<li>
  <%= gravatar_for user, size: Settings.user.gravatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user)  && !user.admin? %>
    | <%= link_to t(".link_1"), user, method: :delete, 
    data: {confirm: t(".notice")} %>
  <% end %>
</li>
